@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

body{
    padding: 0%;
    margin: 0%;
    background-color: rgba(0, 0, 0, 1);
}

.portofolio{
    margin-top: 50px;
    margin-bottom: 20px;
}

.portofolio .judul {
    font-size: 35px;
}

.portofolio .container{
   padding-top: 40px;
   padding-bottom: 20px;
}

.portofolio .card{
    background-color:rgba(18, 18, 18, 1);
    color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}


.portofolio h5{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

.portofolio .btn {
    margin-left: 73px;
    margin-bottom: 10px;
    text-decoration: none;
}

.portofolio .btn a {
    text-decoration: none;
    color: inherit;
    color: #ffffff;
}