@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

body{
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}

.produk{
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 140px;
    /* border-radius: 20px 20px 0 0; */
}

.produk h5{
    font-family: 'Outfit', sans-serif;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 80px;
}


.produk img {
    border-radius: 20px;
    margin-top: 110px;
    width: 400px;
}

.produk .btn {
    margin-top: 30px;
    text-decoration: none;
}

.produk .btn a {
    text-decoration: none;
    color: inherit;
    color: #ffffff;
}